bin/
obj/
*.user
*.suo
appsettings.Development.json
.vs/
.nuget-local/
*.mdf
*.ldf
# 20261006005847_CapNhatModel.cs
# 20261006005847_CapNhatModel.Designer.cs
# 20261006024417_ThemDanhMucDichVu.cs
# 20261006024417_ThemDanhMucDichVu.Designer.cs
Migrations/